{% extends 'base.html' %}

{% block title %} Company Detail {% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <table class="table">
                <tr>
                    <th> Company Name:</th>
                    <td> {{ company.name }} </td>
                </tr>
               <tr>
                    <th> Phone:</th>
                    <td> {{ company.phone }} </td>
                </tr>
                <tr>
                    <th> Email:</th>
                    <td> {{ company.email }} </td>
                </tr>
               <tr>
                    <th> Website:</th>
                    <td> {{ company.website }} </td>
                </tr>
                <tr>
                    <th> Address:</th>
                    <td>
                        {{ company.address1 }}<br>
                        {% if company.address2 %}
                        {{ company.address2 }}<br>
                        {% endif %}
                        {{ company.city }} {{ company.state }} {{ company.zipcode }}<br>
                        {% if company.country %}
                        {{ company.county }} <br>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th> Contacts: </th>
                    <td>
                        {% for contact in company.contact_set.all %}
                            <a href="{% url 'crm:contactdetail' contact.id %}">{{ contact.first_name }} {{ contact.last_name }}</a><br>
                        {% empty %}
                            No Contacts Found
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-2"><a href="{% url 'crm:companyedit' company.id %}"><button class="btn">Edit</button></a></div>
        <div class="col-lg-2"><a href="{% url 'crm:companydelete' company.id %}"><button class="btn">Delete</button></a></div>
        <div class="col-lg-2"><a href="{% url 'crm:companylist' %}"><button class="btn">Back</button></a></div>
        <div class="col-lg-3"></div>
    </div>




{% endblock %}