{% extends 'base.html' %}
{% block title %}CRM Dashboard{% endblock %}
{% block extrascripts %}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Stage', 'Opportunity Count'],
          {% for stage in stage_list %}
          ["{{ stage.name }}", {{ stage.num_opp }}],
          {% endfor %}
        ]);
        var options = {
          // title: 'My Daily Activities'
          // legend: 'none',
          is3D: true,
        };
        var chart = new google.visualization.PieChart(document.getElementById('piechart'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Upcoming Reminders
                        <span class="text-right pull-right">
                            <a href="{% url 'crm:reminderlist' %}" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Reminders"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Note</th>
                        <th>Due Date</th>
                        <th></th>
                    </tr>
                    {% for reminder in reminder_list %}
                    <tr>
                        <td><a href="{% url 'crm:opportunitydetail' reminder.opportunity.id %}">{{ reminder.opportunity.contact }}</a></td>
                        <td>{{ reminder.note }}</td>
                        <td>{{ reminder.date }}</td>
                        <td> <a href="{% url 'crm:reminderedit' reminder.id %}"> Update </a> </td>
                    </tr>
                    {% empty %}
                    <tr> <td colspan="4"> No Upcoming Reminders</td></tr>
                    {% endfor %}
                </table>
                    <div class="pull-right">
                    <a href="{% url 'crm:reminderadd' %}" class="btn btn-primary btn-fab btn-raised mdi-content-add-box text-right" title="Create New Reminder"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Newest Opportunities
                        <span class="text-right pull-right">
                            <a href="{% url 'crm:opportunitylist' %}" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities"></a>
                        </span>
                </div>
                <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Opportunity</th>
                        <th>Stage</th>
                        <th>Value</th>
                        <th>Creation Date</th>
                    </tr>
                    {% for opportunity in opportunity_list %}
                    <tr>
                        <td><a href="{% url 'crm:opportunitydetail' opportunity.id %}">{{ opportunity }}</a></td>
                        <td>{{ opportunity.stage }}</td>
                        <td>{{ opportunity.value }}</td>
                        <td>{{ opportunity.date }}</td>
                    </tr>
                    {% empty %}
                    <tr> <td colspan="4"> No Opportunities Found</td></tr>
                    {% endfor %}
                </table>
                        <div class="pull-right">
                        <a href="{% url 'crm:opportunityadd' %}" class="btn btn-primary btn-fab btn-raised btn-sm mdi-content-add-box text-right" title="Add Opportunity"></a>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Opportunities By Stage
                        <span class="text-right pull-right">
                            <a href="{% url 'crm:stagelist' %}" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="List all Opportunities by Stage"></a>
                        </span>
                </div>
                <div class="panel-body">
                    <div id="piechart" style="height: 500px;"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Top Producers
                </div>
                <div class="panel-body">
                    <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Opportunities Closed</th>
                    </tr>
                    {% for user in opp_users %}
                    <tr>
                        <td>{% if user.get_full_name %}{{ user.get_full_name }}{% else %}{{ user }}{% endif %}</td>
                        <td>{{ user.num_opp }}</td>
                    </tr>
                        {% empty %}
                        <tr><td colspan="2"> No Closed Opportunities</td> </tr>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}