{% extends 'base.html' %}
{% block title %}Opportunity Dashboard{% endblock %}
{% block extrascripts %}

{% endblock %}
{% block content %}
<div class="jumbotron">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="margin-top: 10px;">{{ opportunity }} </h1>
            <h2> {{ opportunity.description }} (Stage: {{ opportunity.stage }})<a class="btn btn-primary btn-fab btn-raised mdi-content-create pull-right" href="{% url 'crm:opportunityedit' opportunity.id %}" title="Edit Opportunity"></a></h2>
        </div>
    </div>
</div>

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Contact Information
                    <span class="text-right pull-right">
                            <a href="{% url 'crm:contactedit' opportunity.contact.id %}" class="btn btn-primary btn-sm mdi-content-create" style="margin-top: -7px;" title="Edit Contact"></a>
                    </span>
                </div>
                <div class="panel-body">
                <br>
                <table class="table">
                    <tr>
                        <td>Company</td>
                        <td><a href="{% url 'crm:companydetail' opportunity.company.id %}">{{ opportunity.company }}</a></td>
                    </tr>
                    {% if opportunity.contact.getAddress %}
                    <tr>
                        <td>Address</td>
                        <td>{{ opportunity.contact.address1 }}<br>
                            {% if opportunity.contact.address2 %}
                            {{ opportunity.contact.address2 }}<br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ opportunity.contact.city }} </td>
                    </tr>
                    <tr>
                        <td>State, Zip</td>
                        <td>
                            {{ opportunity.contact.state }} {{ opportunity.contact.zipcode }}
                        </td>
                    </tr>
                    {% if opportunity.contact.country %}
                    <tr>
                        <td>Country</td>
                         <td>{{ opportunity.contact.country }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Phone</td>
                        <td>{{ opportunity.contact.phone }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{ opportunity.contact.email }}">{{ opportunity.contact.email }}</a></td>
                    </tr>
                    {% else %}
                    <tr>
                        <td>Address</td>
                        <td>{{ opportunity.company.address1 }}<br>
                            {% if opportunity.company.address2 %}
                            {{ opportunity.company.address2 }}<br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{ opportunity.company.city }} </td>
                    </tr>
                    <tr>
                        <td>State, Zip</td>
                        <td>
                            {{ opportunity.company.state }} {{ opportunity.company.zipcode }}
                        </td>
                    </tr>
                    {% if opportunity.company.country %}
                    <tr>
                        <td>Country</td>
                         <td>{{ opportunity.company.country }}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <td>Phone</td>
                        <td>{{ opportunity.company.phone }}</td>
                    </tr>
                    <tr>
                        <td>Website</td>
                        <td><a href="mailto:{{ opportunity.company.website }}">{{ opportunity.company.website }}</a></td>
                    </tr>
                    {% endif %}
                </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Map
                        <span class="text-right pull-right">
                            <a href="{% url 'crm:contactedit' opportunity.contact.id %}" class="btn btn-primary btn-sm mdi-action-list" style="margin-top: -7px;" title="Update Address"></a>
                        </span>
                </div>
                <div class="panel-body">

    <center><div id="map" style="width: auto; height: 300px;"></div></center>
<script>
var map;
function initMap() {
    address = '{% if opportunity.contact.getAddress %} {{ opportunity.contact.getAddress }} {% elif opportunity.company.getAddress %} {{ opportunity.company.getAddress }} {% endif %}';
    var geocoder  = new google.maps.Geocoder();
    geocoder.geocode({ 'address': address}, function(results, status) {
        var c = results[0].geometry.location;
        latitude  = c.lat();
        longitude = c.lng();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: latitude, lng: longitude},
            scrollwheel: false,
            zoom: 14,
        });
        var marker = new google.maps.Marker({
            map: map,
            position: {lat: latitude, lng: longitude},
            title: 'Opportunity Name',
        });
    });
}
</script>
<script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyDxCDEfKuCyTVE-Ex43CG5PQec_Uc5CiQQ&callback=initMap" async defer></script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Call Log
                        <span class="text-right pull-right">
                            <a href="{% url 'crm:calladd' opportunity.id %}" class="btn btn-primary btn-sm mdi-content-add-box" style="margin-top: -7px;" title="Add Call"></a>
                        </span>
                </div>
                <div class="panel-body">
                <br>
                <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Note</th>
                    <th>By</th>
                </tr>
                {% for call in recent_calls %}
                <tr>
                    <td>{{ call.date }}</td>
                    <td>{{ call.note }}</td>
                    <td>{{ call.user }}</td>
                </tr>
                {% endfor %}
                </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Stage History
                        <!-- class="text-right pull-right">
                            <a href="" class="btn btn-primary btn-sm mdi-content-create" style="margin-top: -7px;" title="Change Stage"></a>
                        </ -->
                </div>
                <div class="panel-body">
                    <br>
                    <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Stage</th>
                        <th>User</th>
                    </tr>
                    {% for oppportunitystage in opportunity.opportunitystage_set.all %}
                    <tr>
                        <td>{{  oppportunitystage.timestamp }}</td>
                        <td>{{ oppportunitystage.stage }}</td>
                        <td>{{ oppportunitystage.user }}</td>
                    </tr>
                    {% endfor %}

                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Reminders
                    <span class="text-right pull-right">
                            <a href="{% url 'crm:opportunityreminder' opportunity.id %}" class="btn btn-primary btn-sm mdi-content-create" style="margin-top: -7px;" title="Add Reminder"></a>
                    </span>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <th> Date </th>
                            <th> Note </th>
                            <th> </th>
                        </tr>
                        {% for reminder in opportunity.reminder_set.all %}
                            <tr>
                                <td> {{ reminder.date }} </td>
                                <td> {{ reminder.note }}</td>
                                <td> <a href="{% url 'crm:reminderedit' reminder.id %}"> Edit</a> </td>
                            </tr>
                        {% empty %}
                        <tr> <td colspan="3"> No Reminders Found for this Opportunity </td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}