{% extends 'base.html' %}

{% block title %} Stage List {% endblock %}

{% block content %}
    <h1>Stages</h1>
    <div row>
        <table class="table">
            <tr>
                <th> Name </th>
                <th>Opportunities</th>

            </tr>
             {% for stage in stage_list %}
             <tr>
                 <td> {{ stage.name }} </td>
                 <td> <a href="{% url 'crm:stagedetail' stage.id %}"> View</a></td>
             </tr>
             {% endfor %}

        </table>
    </div>

{% endblock %}